transitions.csv
Transitions.xlsx
transitions.xlsx
Transition probabilities.xlsx
TP_2000_2004.xlsx
TP_2016_2020.xlsx
TP_emp.csv.gz
TP_2016_20.xlsx
TP_2000_04.xlsx
EMP_TP_2016_2020.xlsx
EMP_TP_2000_2004.xlsx
TP_final.csv.gz
